<br />
<h2>Calculator</h2>
<br />
<br />
<a href="#/">Back</a>

<div id="calcForm" class="form-group col-xs-12">
	<label class="form-label" for="tempSelect">TEMPERATURE</label>
    <select class="form-control" id="tempSelect" name="tempSelect" ng-model="formData.selectedTemp" ng-change="change()" ng-options="temp.text for temp in tempOptions">
    </select>

    <label class="form-label" for="forecastSelect">FORECAST</label>
    <select class="form-control" id="forecastSelect" name="forecastSelect" ng-model="formData.selectedForecast" ng-options="forecast.text for forecast in forecasts">
    </select>

    <label class="form-label" for="materialSelect">WEATHER</label>
    <select class="form-control" id="weatherSelect" name="weatherSelect" ng-model="formData.selectedWeather" ng-options="weather.text for weather in weather">
    </select>

    <label class="form-label" for="materialSelect">MATERIAL</label>
    <select class="form-control" id="materialSelect" name="materialSelect" ng-model="formData.selectedMaterial" ng-options="material.text for material in materialOptions">
    </select>

    <label class="form-label" for="areaInput">AREA</label>
    <input class="form-control" id="areaInput" name="areaInput" type="numeric" ng-model="formData.area" />

    <input class="btn btn-lg btn-default" type="submit" ng-click="getRecord()" value="Submit" />
</div>
