<div id="journalMain">
	<a href="#/journalEntry" class="btn btn-lg col-xs-12">Add New Entry</a>

	<div class="col-xs-12">
		<ul class="list-group">
			<li class="list-group-item jrnl-item col-xs-12" ng-repeat="journal in journals | orderBy:'-doc._id'">
				<a href="#/journalView/{{journal.doc._id}}">
					<span class="col-xs-9">{{ journal.doc._id | date: MM-dd-yyyy}}</span>
				</a>
				<span class="glyphicon glyphicon-remove-circle" ng-click="delete(journal.doc._id)"></span>
			</li>
		</ul>
	</div>
</div>