	<a href="#/journal" class="btn btn-lg col-xs-6">Back</a>
	<form>
		<div class="form-group">
			<input type="text" class="form-control input-lg text-center" placeholder="Temperature" ng-model="journalData.temp" />
			<input type="text" class="form-control input-lg text-center" placeholder="Material" ng-model="journalData.material" />
			<input type="text" class="form-control input-lg text-center" placeholder="Amount Expected" ng-model="journalData.expectedAmt" />
			<input type="text" class="form-control input-lg text-center" placeholder="Amount Used" ng-model="journalData.actualAmt" />
		</div>

		<button type="submit" class="btn btn-lg col-xs-12" ng-click="add()">Add Item</button>
	</form>